# Ignore temporary files
*.tmp
*.temp

# Ignore log files
*.log

# Ignore build artifacts
app/build/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore certs
nginx/certs/

# Ignore records
records/*